@forward "./variables/colors";
@forward "./variables/radii";
@forward "./variables/spacings";
@forward "./variables/transitions";
@forward "./variables/elevation";
@forward "./variables/mixins";
@forward "./variables/z-indeces";
@forward "./variables/font-sizes";

$body-font: "Unbounded", "Montserrat", "Segoe UI", "Roboto", system-ui,
  sans-serif;

/** Default styles */

:root {
  --accent: 72, 191, 227;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    #5e60ce 30%,
    white 60%
  );
}
html {
  font-family: $body-font;
  font-weight: 300;
}
code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

a {
  color: var(--link-color);
}

ul {
  list-style-type: none;
  margin: 0;
}
