---
import Layout from "../layouts/Layout.astro"

/** Sections */
import Background from "../sections/Background.astro"
import About from "../sections/About.astro"
import Experience from "../sections/Experience.astro"
import Work from "../sections/Work.astro"
import ContactCard from "../sections/ContactCard.astro"
import Education from "../sections/Education.astro"
import Hobbies from "../sections/Hobbies.astro"
import DogTax from "../sections/DogTax.astro"
import Contact from "../sections/Contact.astro"

/** Components */
import Title from "../components/Title.svelte"
import MouseTrailer from "../components/MouseTrailer.svelte"
import Footer from "../components/Footer.svelte"
import Header from "../components/Header.svelte"
import SectionTitle from "../components/SectionTitle.svelte"
import SectionBG from "../components/SectionBG.svelte"
import Section from "../components/Section.svelte"
import "../styles/index.scss"
---

<script>
  const intersectionCallback = (entries: IntersectionObserverEntry[]) => {
    entries.forEach((entry) => {
      let elem = entry.target
      if (entry.isIntersecting) {
        elem.classList.add("visible")
        elem.classList.remove("hidden")
      }
    })
  }
  const observerOptions = {
    root: null, // null means root is viewport
    rootMargin: "0px",
    threshold: .35, // trigger callback when 35% of the element is visible
  }
  const observer = new IntersectionObserver(
    intersectionCallback,
    observerOptions
  )
  const hiddenElements = document.querySelectorAll(".hidden")
  hiddenElements.forEach((el) => observer.observe(el))
</script>

<Layout title="Aleksi Koivu" />

<MouseTrailer client:only />

<div style="min-height: 125vh">
  <Background />
</div>
<main>
  <Header client:only />
  <div class="content">
    <Title />
    <div class="section-wrapper">
      <SectionTitle planet="earth" title="About" subtitle="Personal and contact information" />
      <div class="personal-grid">
        <About />
        <div class="contact-grid">
          <ContactCard />
          <div class="hobby-grid">
            <Hobbies />
            <DogTax />
          </div>
        </div>
      </div>
    </div>

    <Section primary="#c07158" secondary="#3f2ed5">
      <SectionTitle planet="mars" title="Experience" subtitle="List of different development work related skills" />
      <Experience />
    </Section>

    <Section primary="cyan" secondary="#e38815">
      <SectionTitle planet="jupiter" title="Work" subtitle="Relevant work experience" />
      <Work />
    </Section>

    <Section primary="#3f2ed5" secondary="rgb(72, 191, 227)">
      <SectionTitle planet="neptune" title="Education" subtitle="High school and university education timeline and details" />
      <Education />
    </Section>

    <!-- <Section primary="#3f2ed5" secondary="rgb(72, 191, 227)">
      <SectionTitle planet="neptune" title="Contact" subtitle="Fill out the form and reach out if you wish to contact me" />
      <Contact />
    </Section> -->

  </div>
  <!-- <Footer /> -->
</main>

<style lang="scss">
  @import "../styles/index.scss";

  html {
    scroll-padding-top: 80px; /* height of sticky header */
    scroll-behavior: smooth;
    /** scale everything based on viewport width */
    font-size: clamp(0.75rem, 0.625vw + 0.5625rem, $padding-m);
    box-sizing: border-box;
  }

  body,
  html {
    min-height: 100%;
  }

  body {
    min-height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    overflow: auto;
    display: flex;
    background: var(--color-background);
  }

  main {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 0;
    height: 100%;
    opacity: 1;
    z-index: $z-index-content;
    position: relative;
  }

  .content {
    padding: 0 2rem;
    padding-bottom: 3rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    max-width: 1160px;

    .section-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 2rem;
      position: relative;
    }

    .personal-grid {
      position: relative;
      display: grid;
      gap: 1.5rem;
      grid-template-columns: repeat(2, 1fr);

      &::before {
        position: absolute;
        content: "";
        z-index: -1;
        top: -50%;
        bottom: -20rem;
        width: 100%;
        left: 0;
        background: url('../assets/noise.webp') repeat,linear-gradient(83.21deg,#3245ff 0%,#1c732e 100%);
        background-blend-mode: overlay;
        -webkit-mask-image: radial-gradient(rgba(0,0,0,.5),transparent 70%);
        mask-image: radial-gradient(rgba(0,0,0,.5),transparent 70%);
      }

      .contact-grid {
        display: grid;
        gap: 1.5rem;
        grid-template-rows: repeat(1, 1fr);
      }

      .hobby-grid {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(2, auto);
      }
    }
  }

  h1 {
    font-size: 3rem;
    font-weight: 400;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
  }
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: var(--body-text-color);
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  @media only screen and (max-width: 1000px) {
    .languages {
      flex-direction: column;
    }
    .content {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  @media only screen and (max-width: 720px) {
    .content {
      padding: 0;

      .personal-grid {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
</style>
