/** Generic */
$color-background: #000;
$primary-color: rgb(72, 191, 227);
$secondary-color: #5e60ce;

/** Text */
$body-text-color: #d9d9d9;
$body-text-color--hover: rgb(176, 176, 176);
$subtle-body-text-color: #a9a9a9;
$subtitle-color: #a9a9a9;
$body-text-color--subtle: #6b6b6b;
$link-color: #00a2e7;

/** Button */
$background-color-button: rgba(255, 255, 255, 0.08);
$color-button: $body-text-color;

/** Accents */
$accent: $primary-color;
$accent-dim: rgba(72, 191, 227, 0.3);
$accent-gradient: linear-gradient(
  45deg,
  $primary-color,
  $secondary-color 40%,
  $body-text-color 75%
);

/** Card */
$card-background-color: #1d1c20;
$card-info-background-color: rgba(0, 0, 0, 0.85);
$color-border-card: rgba(white, 25%);
