---
import Personals from "../components/Personals.svelte"
import SectionCard from "./SectionCard.astro"
import Button from "../components/Button.svelte"

import Papi from "../assets/papi.jpg"

---

<SectionCard title="About">
  <div class="about-container">
    <div>
      <h2>
        I am a developer who specializes in <span class="text-gradient"
          >frontend development</span
        >
      </h2>
      <p>
        I would describe myself as someone with a keen eye for design and a
        genuine passion for delivering exceptional user experiences. With years
        of experience in the industry, I have honed my skills in crafting
        intuitive and visually appealing web applications.
      </p>
      <p>
        My ability to empathize with users and understand their needs allows me
        to design interfaces that are both visually appealing and highly
        intuitive. My journey as a frontend developer began at my first
        programming job working on a design system at <a href="#work">Metso</a>.
      </p>
      <p>
        My eagerness to learn and my <a href="#education"
          >comprehensive educational background</a
        > allow me to quickly pick up new languages, technologies, and practices.
        For this portfolio page I wanted to learn something new, and so I created
        it using Astro and Svelte, two bleeding-edge frontend/web frameworks that were
        good fits for this use case.
      </p>
    </div>
    <Button href={Papi.src} download="Papi.jpg">
      <i class="fa-solid fa-download"></i>
      Download resumé
    </Button>
  </div>
</SectionCard>

<style lang="scss">
  @import "../styles/index.scss";

  .about-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
  }

  .text-gradient {
    @include gradient-text;
  }
</style>