---
import "../styles/index.scss"
import DarkModeToggle from "../components/DarkModeToggle.svelte";
import Waves from "../components/Waves.svelte";
---

<DarkModeToggle client:only />
<div class="stars">
  <div class="twinkling">
    <div class="clouds">
      <div class="blue-haze"></div>
    </div>
  </div>
</div>

<div class="light-mode-background">
  <div class="clouds">
    <div class="blue-haze"></div>
  </div>
</div>

<div class="fade-gradient"></div>
<div class="fade-gradient reversed"></div>

<style lang="scss">
  @import "../styles/index.scss";

  .fade-gradient {
  background: var(--background-gradient);
  left: 0;
  z-index: $z-index-background;
  position: absolute;
  height: 125vh;
  top: 0;
  width: 100%;
  &.reversed {
    transform: rotate(180deg);
    top: 125vh;
  }
}

.light-mode-background {
  transition: opacity $transition-medium ease;
  opacity: var(--light-bg-opacity);
  position: absolute;
  display: block;
  top: 0;
  height: 125vh;
  min-width: 100%;
  left: 0;
  background: linear-gradient(0deg, rgba(0,172,193,.2) 0%, skyblue 60%, rgba(10,50,120,1) 100%);
  .clouds {
    filter: invert(100%);
  }
}

.blue-haze {
  background: rgba(0, 64, 128, 0.1) center / 200px 200px round;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 125vh;
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  display: block;
  top: 0;
  height: 125vh;
  min-width: 100%;
  left: 0;
}

.stars {
  transition: opacity $transition-medium ease;
  opacity: var(--dark-bg-opacity);
  z-index: 1;
  background: black url("~/assets/background/stars.png") repeat top center;
  height: 125vh;
}

.twinkling {
  z-index: 1;
  background: transparent url("~/assets/background/twinkle-mask.png") repeat top center;
  animation: move-twinkle-back 350s linear infinite;
}

.clouds {
  z-index: 2;
  background: transparent url("~/assets/background/clouds.png") repeat top center;
  animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twinkle-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

</style>
