---
import "../styles/index.scss"
---

<a
  target="_blank"
  rel="noreferrer"
  href="https://github.com/aleksiko28/"
  data-type="link"
  class="hover interactable info"
>
  <img
    class="moon"
    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/moon2.png"
    alt=""
  />
  <img
    class="github-icon"
    src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../releases/preview/2012/png/iconmonstr-github-1.png&r=0&g=0&b=0"
  />
</a>
<div class="stars">
  <div class="twinkling">
    <div class="clouds">
      <div class="blue-gradient">
        <div class="purple-haze"></div>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  @import "../styles/index.scss";

  .hover {
    position: absolute;
    top: 3rem;
    right: 3rem;
    width: 100px;
    height: 100px;
    z-index: $z-index-tooltip;
    transition: 0.3s all ease;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
      scale: 1.1;
      rotate: 5deg;
      box-shadow: 0 4px 6px -1px $accent, 0 2px 4px -2px rgba(255, 255, 255, 1);
    }
  }
  .moon,
  .github-icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0.4;
  }
  .github-icon {
    z-index: 3;
    filter: invert(60%);
  }

  .blue-gradient {
  background: radial-gradient(
    circle at bottom,
    rgba(9, 60, 98, 0.35) 0%,
    rgba(0, 0, 0, 0.35) 100%
  );
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.purple-haze {
  background: rgba(128, 0, 128, 0.1) center / 200px 200px round;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  min-height: 100%;
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  display: block;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  left: 0;
}

.stars {
  z-index: 1;
  background: black url("~/assets/stars.png") repeat top center;
  min-height: 100%;
}

.twinkling {
  z-index: 1;
  background: transparent url("~/assets/twinkle-mask.png") repeat top center;
  animation: move-twinkle-back 200s linear infinite;
}

.clouds {
  z-index: 2;
  background: transparent url("~/assets/clouds.png") repeat top center;
  animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twinkle-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

</style>
