---
import SectionCard from "./SectionCard.astro"

import Papi from "../assets/papi.jpg"
import Mahla from "../assets/mahla.jpg"
---

<SectionCard>
    <div class="animals">
        <h3>The dogs</h3>
        <div class="images">
            <img src={Papi.src} alt="A mittelspitz." />
            <img src={Mahla.src} alt="A rhodesian ridgeback." />
        </div>
    </div>
</SectionCard>

<style lang="scss">
    @import "../styles/index.scss";
    .animals {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        flex-direction: column;
        h3 {
            @include gradient-text;
            margin: 0;
            text-transform: uppercase;
        }
        .images {
            display: flex;
            flex-direction: column;
            gap: $padding-m;
            img {
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
</style>
