---
import SectionCard from "./SectionCard.astro"
import SkillList from "../components/SkillList.svelte";

interface skill {
    title: string
    image: string
    body: string
    rating: number
    imageBackground?: boolean
    asterisk?: boolean
  }

  export let skills: skill[] = [
    {
      title: "Finnish",
      image: "https://flagicons.lipis.dev/flags/4x3/fi.svg",
      body: "Native",
      rating: 5,
    },
    {
      title: "English",
      image: "https://flagicons.lipis.dev/flags/4x3/gb.svg",
      body: "Fluent, Bilingual",
      rating: 5,
    },
    {
      title: "Swedish",
      image: "https://flagicons.lipis.dev/flags/4x3/se.svg",
      body: "Limited working proficiency",
      rating: 2,
    },
    {
      title: "Spanish",
      image: "https://flagicons.lipis.dev/flags/4x3/es.svg",
      body: "Elementary proficiency",
      rating: 1,
    },
    {
      title: "TypeScript",
      image:
        "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg",
      body: "Multiple years of real-world experience",
      rating: 5,
    },
    {
      title: "Python",
      image:
        "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg",
      body: "Extensive school and personal experience",
      rating: 4,
    },
    {
      title: "Scala",
      image:
        "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/scala/scala-original.svg",
      body: "Extensive school experience",
      rating: 4,
    },
    {
      title: "Java",
      image:
        "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg",
      body: "Moderate school, personal experience",
      rating: 3,
      imageBackground: true,
    },
    {
      title: "C",
      image:
        "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg",
      body: "Limited school and personal experience",
      rating: 2,
    },
    {
      title: "Git",
      image:
        "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg",
      body: "Years of professional experience",
      rating: 5,
    },
    {
      title: "Bash",
      image:
        "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bash/bash-plain.svg",
      body: "Years of professional experience",
      rating: 4,
      imageBackground: true,
    },
    {
      title: "Azure",
      image:
        "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/azure/azure-original.svg",
      body: "Years of professional experience",
      rating: 4,
    },
    {
      title: "GitHub",
      image:
        "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg",
      body: "Years of professional experience",
      rating: 4,
      imageBackground: true,
    },
    {
      title: "React",
      image:
        "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg",
      body: "Years of professional experience",
      rating: 5,
    },
    {
      title: "Vue",
      image:
        "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg",
      body: "Experience with versions 3+",
      rating: 3,
    },
    {
      title: "Svelte",
      image:
        "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/svelte/svelte-original.svg",
      body: "Personal and professional projects",
      rating: 4,
      asterisk: true,
    },
    {
      title: "Astro",
      image:
        "https://raw.githubusercontent.com/github/explore/5cc0a03a302ec862c4aeac2a22a513ae31c35432/topics/astro/astro.png",
      body: "Personal projects",
      rating: 2,
      imageBackground: true,
      asterisk: true,
    },
    {
      title: "Figma",
      image:
        "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg",
      body: "Professional and personal experience",
      rating: 3,
    },
  ]

---

<script>
const nodes = [].slice.call(document.querySelectorAll('li'), 0);
const directions  = { 0: 'top', 1: 'right', 2: 'bottom', 3: 'left' };
const classNames = ['in', 'out'].map((p) => Object.values(directions).map((d) => `${p}-${d}`)).reduce((a, b) => a.concat(b));

const getDirectionKey = (ev: MouseEvent, node: Element) => {
  const { width, height, top, left } = node.getBoundingClientRect();
  const l = ev.pageX - (left + window.scrollX);
  const t = ev.pageY - (top + window.scrollY);
  const x = (l - (width/2) * (width > height ? (height/width) : 1));
  const y = (t - (height/2) * (height > width ? (width/height) : 1));
  const halfPi = 1.57079633
  return Math.round(Math.atan2(y, x) / halfPi + 5) % 4;
}

class Item {
  element: Element

  constructor(el: Element) {
    this.element = el;
    // @ts-expect-error   
    this.element.addEventListener('mouseover', (ev: MouseEvent) => this.update(ev, 'in'));
    // @ts-expect-error
    this.element.addEventListener('mouseout', (ev: MouseEvent) => this.update(ev, 'out'));
  }
  
  update(ev: MouseEvent, prefix: string) {
    this.element.classList.remove(...classNames);
    // @ts-expect-error
    this.element.classList.add(`${prefix}-${directions[getDirectionKey(ev, this.element)]}`);
  }
}

nodes.forEach(node => new Item(node));
</script>

<SectionCard noPadding title="Experience" appendix="* used in this page">
  <div class="content">
     <SkillList client:visible skills={skills} />
  </div>
</SectionCard>

<style lang="scss">
  @import "../styles/index.scss";

  .content {
    line-height: 1.5;
    width: 100%;
  }

</style>
