---
export interface Props {
  title: string
  appendix: string
}

const { title, appendix } = Astro.props
---

<div id={title.toLowerCase()} class="intro hidden">
  <span class="header">
    <h2 class="header-text">{title}</h2>
    <p class="appendix-text">{appendix}</h>
  </span>
  <div class="content">
    <slot />
  </div>
</div>

<style lang="scss">
  @import "../styles/index.scss";

  .intro {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    border: 1px solid rgba(var(--accent), 25%);
    backdrop-filter: blur(3px);
    background-color: rgba(28, 28, 28, 0.4);
    color: lightgray;
    border-radius: 0.4rem;
    overflow: hidden;
    transition: all 350ms ease;

    &.hidden {
      opacity: 0;
      filter: blur(5px);
      transform: translateY(50%);
    }

    &.visible {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
    }

    .content {
      display: flex;
      width: 100%;
    }

    .header {
      width: 100%;
      align-self: flex-start;
      background: $accent-gradient;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header-text {
        text-transform: uppercase;
        font-size: 2rem;
        color: black;
        line-height: 1;
        padding: 1rem 2rem;
        margin: 0;
      }
      .appendix-text {
        font-size: 1rem;
        color: black;
        line-height: 1;
        padding: 1rem 2rem;
        margin: 0;
      }
    }
  }
  @media only screen and (max-width: 600px) {
    .intro .content {
      flex-direction: column-reverse;
    }
  }
</style>
