---
export interface Props {
  title: string
}

const { title } = Astro.props
import "@fontsource/unbounded"
import favicon from "../assets/favicon.svg"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style lang="scss" is:global>
  @use "../styles/index.scss";
</style>
