---
export interface Props {
  title: string
}

const { title } = Astro.props
import "@fontsource/unbounded"
import favicon from "../assets/favicon.svg"
import aklogo from "../assets/aklogo128.png"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <meta
      property="og:description"
      content="The personal portfolio web page for Aleksi Koivu."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.aleksikoivu.dev/" />
    <meta property="og:image" content={aklogo.src} />
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script defer src="https://kit.fontawesome.com/1ee8f271b9.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
<style lang="scss" is:global>
  @use "../styles/index.scss";
</style>
